    {{#> base title='' }}

      {{#*inline "content"}}

        <section class="page page--landing">
          <div class="landing">
            <p class="greeting">Welcome,<br> to my own <span class="area"><span class="js-pixels">1,234,567</span>px<sup>2</sup></span> area on the Internet. <code>&lt;SoftwareEngineer /&gt;</code>. I enjoy creating minimal and engaging user interfaces.. and I think twitter should offer <strong>bold</strong> + <em>italic</em> fonts.</p>
          </div>
        </section>

      {{/inline}}

    {{/base}}
