    {{#> base title='landing' }}

      {{#*inline "content"}}

        <section class="page page--landing">
          <div class="landing">
            <p class="greeting">Welcome,<br> to my own <code><span class="js-pixels">1,234,567</span>px<sup>2</sup></code> area on the Internets. <strong>frontend engineer</strong>. I enjoy creating minimal and engaging interfaces for others to use. and I think twitter should offer bold and italic font.</p>
          </div>
        </section>

      {{/inline}}

    {{/base}}
