    {{#> base title='landing' }}

      {{#*inline "content"}}

        <section class="page page--landing">
          <div class="landing">
            <p class="greeting">Welcome,<br> to my own <code><span class="js-pixels">1,234,567</span>px<sup>2</sup></code> area on the Internet. <strong>frontend engineer</strong>. I enjoy creating minimal and engaging user interfaces and web applications.. and twitter should offer <strong>bold</strong> + <em>italic</em> fonts.</p>
          </div>
        </section>

      {{/inline}}

    {{/base}}
