{
  "presets": [
    [
      "es2015",
    ],
    [
      "env", {
        "targets": {
          "browsers": "last 2 versions",
          "node": 4
        },
        "loose": true
      }
    ]
  ]
}
