html, body {
  margin:0;
  padding:0;
  height:100%;
  box-sizing:border-box
}
*, *:before, *:after { box-sizing:inherit }
body {
  color:#070707;
  background:#fff;
  font:400 16px/1.45 'Open Sans',sans-serif;
  font-family:"Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

/* resets */
img { max-width:100% }
a { color:inherit;text-decoration:none }
h1, h2, h3, h4, h5, h6 { margin:0 }
ul { padding:0;margin:0;list-style-type:none }
input { border:0;background:inherit;font-family:inherit }
input:focus { outline:0 }
hr { border:0 }
nav { letter-spacing:1px }
::selection { background:#bfbfbf;color:#30049e;text-shadow:0 0 transparent }
::-webkit-scrollbar { width:2px }
::-webkit-scrollbar-thumb { background:#070707 }

/* browser-sync */
#__bs_notify__ { opacity:0 }

/* website */
#app {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  flex-direction:column;
}

/* header */
.menu-btn { width:52px;height:52px;position:fixed;z-index:100;top:0;right:0;background:#fff;cursor:pointer }
.menu-open .menu-btn { background:transparent }
.menu-btn .line  {
  height:2px;
  width:24px;
  display:block;
  background:#070707;
  position:absolute;
  top:25px;left:14px;
  transition:all 0.22s;
}
.menu-btn .line-top { transform:translateY(-4px) }
.menu-btn .line-bottom { transform:translateY(4px) }
.menu-open .line-top { transform:rotate(-45deg) }
.menu-open .line-bottom { transform:rotate(45deg) }
.menu-open .line { background:#fff }
.menu-nav {
  flex:1;
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  background:#30049e;color:#fff;
  text-align:center;
  z-index:99;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.2s,opacity 0.2s cubic-bezier(0.25,0.46,0.45,0.94);
}
.menu-open .menu-nav {
  visibility:visible;
  opacity:1;
  transition-duration:0s;
}
.menu-nav ul {
  display:flex;
  height:100%;
  justify-content:center;
  flex-direction:column;
}
.menu-nav li {
  width:50%;
  font-size:1.4em;
  line-height:1.2;
  margin:0.8em auto;
}
.link {
  display:block;
  padding:0.4em;
  transition:color 0.26s;
}
.link:hover{ color:#bfbfbf }
.link::before { font-family:FontAwesome;display:block;font-size:2em }
.map-signs::before { content:"\f277" }
.soccer-ball-o::before { content:"\f1e3" }
.floppy-o::before { content:"\f0c7" }

/* main */
main { display:flex;width:100%;flex:8;margin-bottom:74px }
.page { width:100%;padding:5em 5% 0;overflow-y:auto }
.page h1 { font:400 1.6em/1.2 monospace }
.page a { border-bottom:1px solid #070707 }

/* landing */
.landing { font-size:1.2em }
.greeting { text-indent:-12px }
.greeting::first-line { font:400 3em/1 'Yellowtail',cursive }

/* about */
.about div { margin:2em 0 4em }

/* svmogies */
.svmogi { height:100%;width:20px;display:inline-block;position:absolute;background: transparent center center / contain no-repeat }
/*.ua   { background-image:url(../img/icons/university-of-arizona.svg) }*/
.ua   { display:none }
.sfg  { background-image:url(../img/icons/san-francisco-giants.svg);margin-left:-1px }
.sf49 { background-image:url(../img/icons/san-francisco-49ers.svg);margin-left:3px }
.gsw  { background-image:url(../img/icons/golden-state-warriors.svg);margin-left:1px }

.outer { font-size:0.9em;line-height:1.3;padding-left:2em;margin:2em 0 }
.inner { font-size:0.9em;padding-left:2em }
.outer li { margin:1em 0;position:relative }
.inner li { margin:0.5em 0 }
.outer li::before { content:'+';position:absolute;left:-16px;font-weight:600 }
.inner li::before { content:'-';left:-12px }

.outer li { clear:both }
.inner li { width:50%;float:left;clear:inherit }

/* footer */
footer { width:100%;display:flex;z-index:98;flex:2;background:#30049e url(../img/mountains.svg) -1px -1px / 100px 72px repeat-x;padding-top:72px;margin-top:-74px;box-shadow:0 0 2em 2em #fff;border-top:2px solid #fff }
.social-nav { width:100%;display:flex;align-items:center }
.social-nav ul { width:66.6%;margin:0 auto;color:#fff;font-size:0.9em;font-weight:600 }
.social-nav li { width:50%;float:left;position:relative;text-align:center;line-height:2.4em }
.social-nav li::after { content:'';background:#fff;position:absolute;transform:rotate(-45deg) }
.social-nav li:nth-child(1)::after { width:2px;height:10px;bottom:-2px;right:2px }
.social-nav li:nth-child(2)::after { width:10px;height:2px;bottom:2px;left:-2px }
.social-nav li:nth-child(3)::after { width:10px;height:2px;top:2px;right:-2px }
.social-nav li:nth-child(4)::after { width:2px;height:10px;top:-2px;left:2px }
.social-nav a { padding:0 1px;border-bottom:2px solid #30049e;transition:border-color 0.26s ease-in-out }
.social-nav a:hover { border-color:currentColor }
