* { margin:0;padding:0 }
html, body { height:100%;box-sizing:border-box }
*, *:before, *:after { box-sizing:inherit }
body {
  color:#070707;
  background:#fff;
  font:400 16px/1.45 'Open Sans',sans-serif;
  font-family:"Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

/* resets */
img { max-width:100% }
a { color:inherit;text-decoration:none }
ul { padding:0;margin:0;list-style-type:none }
input { border:0;background:inherit;font-family:inherit }
input:focus { outline:0 }
hr { border:0 }
nav { letter-spacing:1px }
::selection { background:#bfbfbf;color:#30049e;text-shadow:0 0 transparent }
::-webkit-scrollbar { width:2px;background:#fff }
::-webkit-scrollbar-thumb { background:#070707 }

/* browser-sync */
#__bs_notify__ { opacity:0 }

/* website */
#app { width:100%;height:100%;display:flex;align-items:center;justify-content:flex-end;flex-direction:column }

/* header */
.menu-btn {
  width:52px;height:52px;
  position:fixed;
  z-index:100;
  top:0;right:0;
  background:#fff;
  cursor:pointer;
  transition:background 1s linear 0.66s
}
.menu-open .menu-btn { background:transparent;transition:background 0s }
.menu-btn .line  {
  height:2px;
  width:24px;
  display:block;
  background:#070707;
  position:absolute;
  top:25px;left:14px;
  transition:background 0.22s cubic-bezier(0.25,0.46,0.45,0.94) 0.44s,transform 0.44s cubic-bezier(0.25,0.46,0.45,0.94) 0.0s
}
.menu-btn .line-top { transform:translateY(-4px) }
.menu-btn .line-bottom { transform:translateY(4px) }
.menu-open .line-top { transform:rotate(-45deg) }
.menu-open .line-bottom { transform:rotate(45deg) }
.menu-open .line { background:#fff;transition-delay:0s }
.transparent .line { background:transparent }
.menu-nav {
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  background:#30049e;color:#fff;
  text-align:center;
  z-index:99;
  visibility:hidden;
  opacity:0;
  visibility:hidden;
  transition:opacity 0.22s cubic-bezier(0.25,0.46,0.45,0.94) 0.44s, visibility 0s 0.66s
}
.menu-open .menu-nav {
  opacity:1;
  visibility:visible;
  transition:opacity 0.22s cubic-bezier(0.25,0.46,0.45,0.94) 0s
}
.menu-nav ul {
  display:flex;
  height:100%;
  justify-content:center;
  flex-direction:column;
}
.menu-nav li {
  width:50%;
  font-size:1.4em;
  line-height:1.2;
  margin:0.8em auto;
  opacity:0;
  transition:opacity 0.22s ease-in
}
.menu-open li { opacity:1;transition-duration:0.42s }
.menu-nav li:nth-child(1) { transition-delay:0.22s }
.menu-nav li:nth-child(2) { transition-delay:0.11s }
.menu-nav li:nth-child(3) { transition-delay:0.0s }
.menu-open li:nth-child(1) { transition-delay:0.22s }
.menu-open li:nth-child(2) { transition-delay:0.33s }
.menu-open li:nth-child(3) { transition-delay:0.44s }
.link { display:block;padding:0.4em;transition:color 0.26s }
.link:hover{ color:#bfbfbf }
.link::before { font-family:FontAwesome;display:block;font-size:2em }
.map-signs::before { content:"\f277" }
.soccer-ball-o::before { content:"\f1e3" }
.floppy-o::before { content:"\f0c7" }

/* main */
main { display:flex;width:100%;flex:8;margin-bottom:74px }
.page { width:100%;padding:5em 5% 0;overflow-y:auto }
.page h1 { font:400 1.6em/1.2 monospace }
.page h2 { font:400 1.2em/1.2 monospace }
.page a { border-bottom:1px solid #30049e }


/* landing */
.landing { font-size:1.2em }
.greeting { text-indent:-12px }
.greeting::first-line { font:400 3em/1 'Yellowtail',cursive }

/* about */
.about div { margin:2em 0 4em }
.about div:last-child { margin-bottom:6em }
.outer { font-size:0.9em;padding-left:2em;margin:2em 0 }
.inner { font-size:0.9em;padding-left:1.5em;display:flex;flex-wrap:wrap }
.outer li { margin:1em 0;position:relative;font-weight:600 }
.inner li { margin:0.5em 0;width:50%;padding-right:20px;font-weight:initial }
.outer li::before { content:'+';position:absolute;left:-16px;font-weight:600 }
.inner li::before { content:'-';left:-12px }
.personal .outer li { font-weight:initial }
.personal .inner li { width:100% }
/* svmogies */
.svmogi { height:100%;width:20px;display:inline-block;position:absolute;background: transparent center center / contain no-repeat }
.ua   { display:none }
.sfg  { background-image:url(../img/icons/san-francisco-giants.svg);margin-left:-1px }
.sf49 { background-image:url(../img/icons/san-francisco-49ers.svg);margin-left:3px }
.gsw  { background-image:url(../img/icons/golden-state-warriors.svg);margin-left:1px }
/* back to top arrow */
.top { position:relative;cursor:pointer;height:26px;width:26px;display:inline-flex;justify-content:center;align-items:center;float:right;margin:-2em 0 4em }
.top::before { content:'\f102';font-family:FontAwesome;font-size:1.4em }
.hide { opacity:0;transition:opacity 1s }
.show { opacity:1;transition:opacity 1s }

/* projects */
.project { margin:2em 0 }
.project h1 { margin:0.4em 0 }
.expandIcon { cursor:pointer }
.expandIcon::before { content:'+' }
.details { display:none }

.preview { display:flex;align-items:center }
.preview .x { display:none;width:52px;height:52px;position:absolute;top:0;right:0;cursor:pointer }
/*.preview figure { display:flex;align-items:center;flex-direction:column;justify-content:center }*/
.preview figure { text-align:center }
.preview img { cursor:pointer }
.preview figcaption { color:#333;font-size:0.9em; }

.fullscreen { z-index:999;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.9) }
.fullscreen .x { display:block }
.fullscreen figure { padding:16% 0 }
.fullscreen img { width:94%;border-radius:2px;cursor:initial }
.fullscreen figcaption { color:#fff }
.x .line  { height:2px;width:24px;display:block;background:#fff;position:absolute;top:25px;left:14px }
.x .line-top { transform:rotate(-45deg) }
.x .line-bottom { transform:rotate(45deg) }

/* footer */
footer { width:100%;display:flex;z-index:98;flex:2;background:#30049e url(../img/mountains.svg) -1px -1px / 100px 72px repeat-x;padding-top:72px;margin-top:-74px;box-shadow:0 0 2em 2em #fff;border-top:2px solid #fff }
.social-nav { width:100%;display:flex;align-items:center }
.social-nav ul { width:66.6%;margin:0 auto;color:#fff;font-size:0.9em;font-weight:600 }
.social-nav li { width:50%;float:left;position:relative;text-align:center;line-height:2.4em }
.social-nav li::after { content:'';background:#fff;position:absolute;transform:rotate(-45deg) }
.social-nav li:nth-child(1)::after { width:2px;height:10px;bottom:-2px;right:2px }
.social-nav li:nth-child(2)::after { width:10px;height:2px;bottom:2px;left:-2px }
.social-nav li:nth-child(3)::after { width:10px;height:2px;top:2px;right:-2px }
.social-nav li:nth-child(4)::after { width:2px;height:10px;top:-2px;left:2px }
.social-nav a { padding:0 1px;border-bottom:2px solid #30049e;transition:border-color 0.26s ease-in-out }
.social-nav a:hover { border-color:currentColor }
