
/* footer */
footer {
  width:100%;z-index:8;
  display:flex;flex:2;
  background:$purple url('../img/mountains.svg') -1px -1px / 100px 72px repeat-x;
  padding-top:72px;margin-top:-72px;
  box-shadow:0 0 2em 2em $white
}
.social { width:$width;max-width:$max_width;margin:0 auto;display:flex;align-items:center }
.social__list {
  width:100%;margin:0 auto;max-width:333px;
  display:flex;justify-content:space-between;
  @media only screen and (min-width:$large) { margin-right:0 }
  @media only screen and (min-width:$xlarge) { max-width:399px }
}
.social__link {
  color:$white;font-size:0.9em;font-weight:600;padding:0 1px;
  border-bottom:2px solid $purple;transition:border-color $quick
}
.social__link:hover { border-color:currentColor }
