/* main */
main {
  display:flex;
  flex:8;
  max-width:$width__max;
  margin:0 auto 72px;
  overflow:auto;
}

.page {
  width:100%;
  padding:16vh 4% 0;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  h1 {
    font-size:2.827em;
    font-family:$font__yellowtail;
  }
  h2 {
    font-size:1.9191em;
    font-family:monospace;
  }
  h3 {
    font-size:1.414em;
    font-family:monospace;
  }
  h4 {
    font-family:monospace;
    font-size:1.0505em;
  }
  a {
    border-bottom:1px solid $color__purple
  }
 }
