
/* main */
main { display:flex;flex:8;margin-bottom:72px }
.page { width:100%;padding:16vh 4% 0;overflow-y:auto;-webkit-overflow-scrolling:touch }
.page h1 { font-size:2.827em }
.page h2 { font-size:1.999em;font-family:monospace }
.page h3 { font-size:1.414em;font-family:monospace }
.page a { border-bottom:1px solid #30049e }
