
header {
  flex:0;
  display:flex;
  transition:flex 0s 0.66s;
}

.trigger {
  width:104px;
  height:104px;
  z-index:$top;
  position:absolute;
  right:0;
  &__container {
    width:50%;
    height:50%;
    position:relative;
    cursor:pointer;
  }
  &__line {
    display:block;
    height:2px;
    width:24px;
    position:absolute;
    top:25px;left:14px;
  }
  &--menu {
    background:$white;
  }
  &__line {
    background:$black;
    transition:transform 0.44s $cubic;
    &--top {
      transform:translateY(-4px);
    }
    &--bottom {
      transform:translateY(4px);
    }
  }
}

.menu {
  width:100%;
  line-height:1;
  font-size:1.2em;
  @media only screen and (min-width:$small) {
    font-size:1.6em;
  }

}

.menu__list {
  height:60%;
  overflow:hidden;
  flex-direction:column;
  @media only screen and (min-width:$small) {
    width:66%;
    height:66%;
    flex-flow:row wrap;
  }
}

.menu__item {
  flex:1;
  opacity:0;
  max-height:120px;
  transition:opacity 0.22s ease-in;
  @for $i from 3 through 1 {
    &:nth-of-type(#{$i}) {
      transition-delay:(#{(3 - $i) * 0.11}s);
    }
  }

  @media only screen and (min-width:$small) {
    height:100%;
    max-height:160px;
    flex:1 0 auto;
    &:first-child {
      flex:0 0 100%;
    }
  }

}

.menu__link {
  height:100%;
  font-variant:small-caps;
  display:inline-flex;
  flex-direction:column;
  justify-content:center;
  padding:0 1em;
  &::before {
    content:'';
    display:block;
    margin-bottom:0.16em;
    font-size:2em;
    height:1em;
    background:center center / contain no-repeat;
  }
  &--landing::before {
    background-image:url('/assets/img/icons/map-signs.svg')
  }
  &--about::before {
    background-image:url('/assets/img/icons/soccer-ball.svg')
  }
  &--projects::before {
    background-image:url('/assets/img/icons/floppy-disk.svg')
  }
  &::after {
    content:'';
    display:block;
    width:0;height:2px;
    margin:0 auto;
    background:$purple;
    opacity:0;
    transform:translateY(-3.2em);
    transition:width $slow,opacity $average,transform $average;
  }
  &:hover::after {
    width:100%;
    opacity:1;
    transform:translateY(0)
  }
}

.menu-open {
  flex:1;
  transition:flex 0s 0.22s;

  .trigger__line {
    &--top {
      transform:rotate(135deg);
    }
    &--bottom {
      transform:rotate(45deg);
    }
  }

  .menu__item {
    opacity:1;
    transition-duration:0.42s;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        transition-delay:(#{(($i * 0.11) + 0.11) + .2}s);
      }
    }
  }

}
