
.inner__container {
  flex:8;
  display:flex;
  flex-direction:column;
  margin:0 auto 72px;
  max-width:$max_width;
  position:relative;
}

main {
  overflow:auto;
}

.page {
  width:100%;
  padding:16vh 4% 0;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  h1 {
    font-size:2.827em;
    font-family:$cursive;
  }
  h2 {
    font-size:1.9191em;
    font-family:monospace;
  }
  h3 {
    font-size:1.414em;
    font-family:monospace;
  }
  h4 {
    font-family:monospace;
    font-size:1.0505em;
  }
  a {
    border-bottom:1px solid $black
  }
 }
