
// fonts
$avenir:'Avenir Next',Avenir,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
$open:'Open Sans',sans-serif;
$normal:400;
$bold:600;

// colors
$white:#ffffff;
$black:#070707;
$purple:#30049e;


// media queries
$xsmall:20em;
$small:25em;
$medium:40em;

// timing
$quick:0.22s
