<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>zacarellano{{#if title}} | {{title}}{{/if}}</title>
    <meta name="description" content="what's good! zac arellano | frontend engineer{{#if title}} | {{title}} {{/if}}">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yellowtail&text=Welcome">
  </head>
  <body>
    <div id="app">
      {{> header}}
      <main>
        {{#> content}}

        {{/content}}
      </main>
      {{> footer}}
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <script src="/js/main.min.js"></script>
  </body>
</html>
