<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    <div id="app">
      <div class="inner__container">
        {{> header}}
        <main>
          {{#> content}}

          {{/content}}
        </main>
      </div>
      {{> footer}}
    </div>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
