<footer>
  <nav class="social">
    <ul class="social__list spacey">
      <li><a href="https://twitter.com/asapzacy" class="social__link">twitter</a></li>
      <li><a href="https://github.com/zacarellano" class="social__link">github</a></li>
      <!--email_off-->
      <li><a href="mailto:zacdarellano@gmail.com" class="social__link">contact</a></li>
      <!--/email_off-->
    </ul>
  </nav>
</footer>
