<footer>
  <nav class="social">
    <ul class="social__list spacey">
      <li><a href="https://twitter.com/asapzacy" class="social__link">twitter</a></li>
      <li><a href="https://github.com/asapzacy" class="social__link">github</a></li>
    </ul>
  </nav>
</footer>
