
// fonts
$avenir:'Avenir Next',Avenir,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
$open:'Open Sans',sans-serif;
$normal:400;
$bold:600;

// colors
$white:#ffffff;
$black:#070707;
$purple:#30049e;


// media queries + sizing
$xxsmall:20em;
$xsmall:25em;
$small:40em;
$medium:55em;
$large:70em;
$xlarge:85em;
$xxlarge:100em;

$width:80%;
$max_width:1600px;

// timing
$instant:0.0s;
$quick:0.22s;
$cubic:cubic-bezier(0.25,0.46,0.45,0.94);
