
/* landing page */
.landing { font-size:1.2em;margin:0 auto;
  @media only screen and (min-width:$small) { width:90% }
  @media only screen and (min-width:$medium) { width:80% }
  @media only screen and (min-width:$large) { width:75%;margin-right:11.25% }
  @media only screen and (min-width:$xlarge) { width:65%;margin-right:15.75% }
}
.greeting { text-indent:-0.66em;
  @media only screen and (min-width:$large) { text-indent:-0.99em }
}
.greeting::first-line { font:400 3.33em/1 'Yellowtail',cursive }
