
/* projects page */
.project { margin:2em 0 4em }
.projects h3 { color:#616161 }
.project:not(:last-child)::after { content:'';display:block;background:#000;width:66.6%;height:2px;margin:3em auto }
.project:last-child { margin-bottom:6em }
.preview { display:flex;align-items:center }
.preview .x { display:none;width:52px;height:52px;position:absolute;top:0;right:0;cursor:pointer }
.preview figure { text-align:center;margin:1em 0 }
.preview img { cursor:pointer;display:block;margin:0 auto }
.preview figcaption { color:#616161;font-size:0.9em; }
.hippify img { border:1px solid #000;padding:2% 4% }
.klopro img { border:1px solid #000;background:#fff;padding:2% 4% 0 }
.fullscreen img { border:0 }

.expand { cursor:pointer;font-weight:600;width:33.3%;text-align:center;float:right }
.expand::after { content:'\f107';font-family:FontAwesome;display:inline-block }
.expanded::after { content:'\f106' }

.details { counter-reset:section;clear:both;overflow-y:hidden;max-height:0;transition:max-height 0.66s }
.details h3 { font:600 1em/1.2 monospace;margin:0.8em 0;font-size:0.95em }
.details h3::before { counter-increment:section;content:counter(section,lower-roman)'. ' }
.details p { margin:1em 0 3em;font-size:0.9em }


.fullscreen { z-index:999;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.9) }
.fullscreen .x { display:block }
.fullscreen figure { padding:10% 0 }
.fullscreen img { width:94%;border-radius:2px;cursor:initial }
.fullscreen figcaption { color:#fff }
.x .line  { height:2px;width:24px;display:block;background:#fff;position:absolute;top:25px;left:14px }
.x .line-top { transform:rotate(-45deg) }
.x .line-bottom { transform:rotate(45deg) }
